#
*

!src/

!src/main.ts


!src/jogos

!src/pipes
!src/pipes/arruma-nome
!src/pipes/arruma-nome/arruma-nome.pipe.ts


!src/pipes/valida-ano
!src/pipes/valida-ano/valida-ano.pipe.ts

!src/pipes/valida-preco
!src/pipes/valida-preco/valida-preco.pipe.ts


!src/jogos/jogos.controller.ts
!src/jogos/jogos.module.ts
!src/jogos/jogos.service.ts

!src/jogos/entities
!src/jogos/entities/jogo
!src/jogos/entities/jogo/jogo.entity.ts


!src/jogos/dto
!src/jogos/dto/create-jogo.dto.ts
!src/jogos/dto/update-jogo.dto.ts
